body{
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
    color: #999;
    font-size: 14px;
    line-height: 30px;
}
#navBar{
    border-color: transparent;
    height: 493px;
    min-width: 1200px;
}
.w{ 
    width: 1200px;
    /* background-color: violet; */
    margin: 0 auto;
}
#head_content{ 
     padding: -20px 0;
}
nav{
    height: 40px;
    margin-top:40px;
    padding:30px 0px;
    /* background-color: darkcyan; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.drop{
   display: none;
   /* float: left; */
   left: 15px;
    position: relative;
}
.drop img{
    top: 10px;
    position: absolute;
    height: 25px;
    width: 25px;
}
.drop p{
    left: -20px;
    font-size: 12px;
    color: white;
    margin: -10px 5px;
}
.fontP{
    top: 25px;
    left: -16px;
    position: absolute;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #000;
    background-color: black;
}
#drop1{
    left: 0px;
}
.p2{
    width: 65px;
}
.p2,.p3,.p4{
    left: -26px;
}
.p5{
    left: -20px;
}
.p6{
    width: 50px;
}
#lfbar{
   position: relative;
   width: 450px;
   height:125px;
}
#rgbar{
    position: relative;
    height: 125px;
    width: 750px;
    margin-left: 205px;
}
.enter{
   opacity: 0;
   left: -500px;
   top:395px;
    padding: 30px 35px;
    border-radius: 10px;
    text-align: left;
    position: absolute;
    width: 290px;
    height:77px;
    background-color: rgba(0,0,0,0.50);
}
.enter h2{
  margin: 0 0 10px 0;
    font-weight: 500;
    line-height: 1.5;
    padding: 0;
    font-size: 22px;
    color:  #fff;
}
.enter p{
    font-size: 16px;
    line-height: 23px;
    text-indent: 44px;
    margin: 0;
    padding: 0;
    color: #C9C7C6;
}
#direct{
    z-index: 3;
    opacity: 0.5;
    position: absolute;
    right: 15px;
    bottom: 130px;
    width: 200px;
    height: 100px;
}

#direct>img{
    opacity: 0.5;
    width: 55px;
    height: 50px;
}
#direct>img:hover{
    opacity: 1;
}
.logo{
    padding: 0 15px;
}

#lfbar a{
    display: block;
}

#nav_ul li{
   position: relative;
    padding-left: 25px;
    list-style: none;
    display: inline-block;
}
#nav_ul a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}

#banner{
    z-index: -1;
    position: relative;
    margin-top:-140px;
    margin-left: -79px;
    /* height: 377px; */

}
#banner img{
    position: absolute;
    height: 520px;
    border-bottom: 13px solid #000000;
}
#service1{
    position: relative;
    margin-right: -9px;
    padding: 50px 0 0 0;
    text-align: center;
    height: 335px;
    background-color: white;
}
#container1 {
    height: 335px;
    /* background-color: turquoise; */
}
#container1 h2{
font-size: 26px;
color: #000;
padding: 0 0 20px 0;
margin: 0 0 40px 0;
border-bottom: 1px solid #e5e5e5;
line-height: 150%;
font-weight: 500;
}
#container1 em{
    margin-right: 12px;
}
.row1{
    display: flex;
}
.box{
    position: relative;
    font-size: 18px;
    color: #000;
    width: 220px;
    height: 63px;
    margin-left: 75px;
    background-repeat: no-repeat;
    margin-top: 50px;
}
.box>p{
    margin-top: -5px;
}
.box_1{
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/s-web.png);
}
.box_2{
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/s-yy.png);
}
.box_3{
    background-image:url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/s-yx.png);
}
.box_4{
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/s-pp.png);
}
.box_1p{
    position: absolute;
    left:75px;
    top: 30px;
    font-size: 12px;
    color: #777;
}
.box_2p{
   padding-top:40px;
    text-indent: -30px;
    font-size: 14px;
    color: #777; 
}
#service2{
    position: relative;
    margin-right: -9px;
    padding: 50px 0 75px 0;
    text-align: center;
    height: 320px;
    background-color: #3D3331;
}
#container2 {
    height: 400px; 
    /* background-color: #3D3331; */
}
#container2 h2{
    font-size: 26px;
    color: white;
    padding: 0 0 20px 0;
    margin: 0 0 40px 0;
    border-bottom: 1px solid #645C5A;
    line-height: 150%;
    font-weight: 500;
}
#container2 em{
    margin-right: 12px;
}
.row2{
    display: flex;
    margin-top: 40px;
    padding-left: 0;
    justify-content: space-between;
}
li{
    list-style: none;
}
.libg{
    position: relative;
    height: 235px;
    width: 250px;
    position: relative;
    padding: 0 50px 0px 0;
}
.libg:hover{
    box-shadow: rgb(34, 34, 34) -30px -40px 50px 40px inset;
    transition: all .2s;
    opacity: 0.5;
}
.libg p{
    position: absolute;
    bottom: -13px;
    left: 70px;
    font-size: 20px;
    color: white;
}
.libg img{
    position: absolute;
    left: 0px;
    top: 0;
    width: 265px;
}

.li-bg{
    display: none;
    position: absolute;
    top: 100px;
    left: 90px;
    height: 44px;
    width: 44px;
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/hover-link.png);
}
.libg:hover>.li-bg{
    display: block;
}
#service3{
    margin-right: -9px;
    padding: 60px 0 75px 0;
    text-align: center;
    height: 280px;
     background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/bg-2.gif);
}

#container3 {
    /* text-align: center; */
    height:280px; 
 
}
#container3 h2{
    font-size: 26px;
    color: black;
    padding: 0 0 20px 0;
    margin: 0 0 40px 0;
    border-bottom: 1px solid #E5E5E5;
    line-height: 150%;
    font-weight: 500;
}
#container3 em{
    margin-right: 12px;
}
.row3{
    display: flex;
    margin-top: 40px;
    padding-left: 0;
    justify-content: space-between;
}
.box_circle{
    display: flex;
    margin-top: 40px;
   margin-left: -25px;

    justify-content: space-between;
}
.box_circle>li{
    margin-left: 50px;
    width: 136px;
    height: 136px;
    border: 2px solid #69afde;
    border-right-color: #1ad280;
    border-bottom-color: #1ad280;
    border-radius: 50%;
    transition: all 1s;
}
.box_circle>li>p{
    font-size: 14px;
    color: #777;
    text-align: center;
}
.box_circle>li:hover{
    transform: rotate(360deg);
}
.lip{
    margin-top: 40px;
    margin-bottom: -15px;
}
.box_circle>li:hover .lip{
    margin-top: 30px;
}
.box_li_1:hover{
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/o1.png);
}
.box_li_2:hover{
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/o2.png);
}
.box_li_3:hover{
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/o3.png);
}
.box_li_4:hover{
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/o4.png);
}
.box_li_5:hover{
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/o5.png);
}
.box_li_6:hover{
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/o6.png);
}
#service4{
    position: relative;
    margin-right: -9px;
    padding: 60px 0 0 0;
    text-align: center;
    height:690px;
    background: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/bg-6.jpg);
}
#container4 {
   position: relative;
    margin: 0 auto;
}
#container4 h2{
text-align: center;
font-size: 26px;
color:white;
padding: 0px 0 20px 0;
margin: 0 0 40px 0;
border-bottom: 1px solid #3D3D3D;
line-height: 150%;
font-weight: 500;
}
#container4 em{
    margin-right: 12px;
}
#row4{
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}
#inner{
    padding-left: 0;
    position: relative;
    display: flex;
    transition: all 1s;
    left: 0;
}
.inner_li>h2{
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 30px;
}
.inner_li>p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.801);
    margin-top: 20px;
    text-align: center;
}
.row4_1{
    top: 590px;
    position: absolute;
    left: 540px;
}
.row4_1>img{
   opacity: 0.5;
    height: 50px;
    width: 55px;
}
.row4_1>img:hover{
    opacity: 0.8;
}
#service5{
    position: relative;
    margin-right: -9px;
    padding: 50px 0 75px 0;
    text-align: center;
    height: 700px;
    background-color: white;

}
#container5 {
    height: 700px;
}
#container5 h2{
    font-size: 26px;
    color:black;
    text-align: center;
    padding: 0 0 20px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #E5E5E5;
    line-height: 150%;
    font-weight: 500;
}
#container5 em{
    margin-right: 12px;
}
.row5{
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 40px;
}
.row5 p{
    font-weight: bold;
    position: absolute;
    bottom: -70px;
    left: 15px;
    font-size: 16px;
    color: #000;
}
.row5 p:hover{
    transition: all 0.3s;
    color: cornflowerblue;
}
.row5>li{
    background-color: #2B2422;
   margin: 30px 30px 50px 0;
}
.libg-5{
    position: relative;
    height: 189px;
    width: 215px;
    position: relative;
    padding: 0 50px 0px 0;
}
.libg-5>img:hover{
    transition: all .2s;
    opacity: 0.5;
}
.libg-5 img{
    position: absolute;
    left: 0px;
    top: 0;
    width: 265px;
}

.li-bg{
    display: none;
    position: absolute;
    top: 70px;
    left: 115px;
    height: 44px;
    width: 44px;
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/hover-link.png);
}
.libg-5:hover>.li-bg{
    display: block;
}
.more{
    margin-top: 20px;
    width: 180px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border: 2px solid #3d3331;
    font-style: 14px;
    margin: 0 auto;
}
.more:hover{
    transition: all .3s;
    background-color:#3d3331 ;
}
.more a{
    color: #000;
    text-decoration: none;
}
.more a:hover{
    transition: all .3s;
    color: white;
}
#service6{
    padding-top: 60px;
    position: relative;
    margin-right: -9px;
    height: 240px;
    background-color: #302b28;
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/about-bg.png);
    background-repeat: no-repeat;
    background-position: center 12px;
}
#container6 {
    height:240px; 
}
#container6 h2{
    font-size: 26px;
    color:white;
    text-align: center;
    padding: 0 0 20px 0;
    margin: 0 0 40px 0;
    border-bottom: 1px solid rgba(117, 116, 116, 0.267);
    line-height: 150%;
    font-weight: 500;
}
#container6 em{
    margin-right: 12px;
}
#container6 p{
    text-indent: 30px;
    text-align: left;
    font-size: 14px;
    color: rgba(255,255,255,0.70);
}
#service7{
    position: relative;
    height: 687px;
    margin-right: -9px;
}
#container7 h2{
    font-size: 26px;
    color:black;
    text-align: center;
    padding: 60px 0 20px 0;
    margin: 0 0 40px 0;
    border-bottom: 1px solid rgba(117, 116, 116, 0.267);
    line-height: 150%;
    font-weight: 500;
}
#container7 em{
    margin-right: 12px;
}
#container7>ul{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}
#container7 .li{
    margin-right: 0;
}
#container7 li{
    width: 550px;
    height: 190px;
    margin-right: 40px;
    padding-top: 40px;
    border-bottom: 1px solid #ededed;
}
.box-7bg{
    width: 200px;
    display: inline-block;
    font-size: 0;
    position: relative;
    background-color: rgb(51, 51, 51);
}
.box-7bg>img{
    width: 200px;
}
._7bg{
    width: 44px;
    height: 44px;
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/hover-link.png);
    position: absolute;
    left: 78px;
    top: 50px;
    display: none;
}
.box-7bg:hover>img{
    opacity: .5;
}
.box-7bg:hover>._7bg{
    display: block;
}
.text{
    display: inline-block;
    width: 330px;
    vertical-align: top;
    padding-left: 15px;
    position: relative;
}
.text>p{
    font-size: 14px;
    color: #666;
    line-height: 30px;
    margin-top: 10px;
}
.text>a{
    font-size: 16px;
    color: #000;
    text-decoration: none;
    transition:  all .5s;
}
.text>a:hover{
    color: #69c;
}
.new{
    color: red;
    line-height: 10px;
    height:10px;
    width: 30px;
    font-size: 10px;
    position: absolute;
    top: 40px;
    left: 150px;
    animation: color .3s linear ;
}
#new2{
    left: 100px;
}
#new3{
    left: 50px;
}
#new4{
    top: 10px;
    left: 310px;
}
.t>span{
    display: inline-block;
    height: 24px; 
    font-style: italic;
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/ny-news-bg.png);
    background-repeat: no-repeat;
    font-size: 12px;
    padding-left: 28px;
    margin-right: 10px;

}
.t_1{
    background-position: 0px 6px;
    position: relative;
    top: -20px;
}
.t_2{
    background-position: 0px -20px;
    position: relative;
    top: -10px;
}
.t_3{
    background-position: 0px -38px;
    position: relative;
    top: -20px;
    color: red;
}
.tt{
    position: relative;
    left: 215px;
    top: 5px;
}
.tt1{
    position: relative;
    left: 215px;
    top: -20px;
}
#container7>ul{
    margin-bottom: 20px;
}
.bottom{
    margin-top: 30px;
    height: 411px;
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/bg-8.png);
}
.bottom_box{
    display: flex;
    margin: 0 auto;
    padding-top: 65px;
    
}
.bottom_left{
    width: 30%;
    height: 248px;
}
.bottom_left>h3{
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 25px;
}
.bottom_left>input{
    width: 243px;
    height: 40px;
    margin-bottom: 12px;
    padding: 0 10px;
    border: none;
    font-size: 14px;
    color: #666;
}
.in_bg{
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/input-bg.png);
    background-repeat: no-repeat;
    background-position: right 0px;
}
.in_bg1{
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/input-bg.png);
    background-repeat: no-repeat;
    background-position: right -40px;
}
#in{
    width: 263px;
    height: 44px;
    background-color: #302B28;
    font-size: 14px;
    color: white;
}
#in:hover{
    background-color: #69c;
}
.bottom_center{
    width: 44%;
    height: 235px;
    padding: 0px 0 10px 0;
}
.bottom_center>h3{
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 25px;
}
.center_box{
    background-image: url(http://www.nalijiaju.com.cn/skin/nalijiaju/style/images/address-bg.png);
    background-repeat: no-repeat;
    background-position: 0px -3px;
    padding-left: 30px;
}
.center_box>p{
    line-height: 17px;
    font-size: 12px;
    color: #919399;
}
.bottom_right{
    width: 26%;
    text-align: right;
}
.bottom_right>img{
    width: 118px;
    margin-left: 10px;
}
.bottom_right>span{
    display: inline-block;
    width: 125px;
    text-align: center;
    color: #919399;
    font-size: 12px;
    margin-top: 10px;
}
.bottom>p{
    /* width: 1140px; */
    margin: 0 auto;
    border-top: 1px solid #333;
    padding-top: 30px;
    color: #919399;
    font-size: 12px;
}
.navplus{
    position: fixed;
    right: 0;
    top: 240px; 
}
.navplus ul{
    position: relative;
    width: 126px;
    height: 240px;
    overflow: hidden;
}
.lia>span{
   position: absolute;
   top: 0;
}
.navplus li{
    height:54px;
    vertical-align: top;
    width:126px;
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
    line-height: 54px;
    transition: all .5s;
    transform: translateX(72px);
}
.navplus a{
    vertical-align: top;
}
.lia:hover{
    transform: translateX(0px);
    background-color: rgb(255, 0, 0);
}
.liaa:hover{
    background-color: red;
}
#a{
    transition: all 1s;
}